@import './reset';
@import './variables/colors';
@import './_icon';
@import './variables/_icons';
@import './mixins/_iconize';
@import './mixins/_rem';


html {
    font-size: 100%;
}

// this is just some test styling
h1 {
    @include iconize('home', 'before');
}

////////////////////////////////////
/// here starts the real stuff  ////
////////////////////////////////////

.container {
    max-width: 102rem;
    margin: 0 auto;
}