@import './reset';
@import './variables/colors';
@import './_icon';
@import './variables/_icons';
@import './mixins/_iconize';

// this is just some test styling
h1 {
    font-size: 2rem;
    @include iconize('home', 'before');
}

////////////////////////////////////
/// here starts the real stuff  ////
////////////////////////////////////

.wrapper {
    max-width: 102rem;
    margin: 0 auto;
}